.alert-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .alert-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .alert-content h2 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .alert-content button {
    margin-top: 10px;
    padding: 8px 15px;
        border: none;
        border-radius: 4px;
        color: white;
        background: linear-gradient(to right, #f17442, #ff8c00);
        transition: transform 0.25s ease-in-out;
        cursor: pointer;
  }
  
  .alert-content button:hover {
    background-color: #3e8e41;
  }
  