* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(108.5deg, rgba(231, 69, 54, 0.82) 11.2%, rgba(255, 181, 17, 0.82) 68%);
}
body header {
  background: white;
  width: 100%;
}
body header nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
body header nav .nav__list {
  margin: 0px 60px;
  display: flex;
  gap: 40px;
  font-size: 1.2rem;
}
body header nav .nav__list .nav__list-item {
  list-style-type: none;
  color: black;
}
body header nav .nav__list .nav__list-item .nav__list-link {
  text-decoration: none;
  color: black;
}
body hr {
  border-color: lightgrey;
  opacity: 0.1;
  position: absolute;
  top: 300px;
  margin-left: -30px;
  width: 400px;
}
body #app-container {
  width: 400px;
  background: white;
  margin: 150px 0px;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body #app-container .app__form-container {
  display: flex;
}
body #app-container .app__form-container #new-task-form {
  width: 100%;
  display: flex;
  align-items: center;
}
body #app-container .app__form-container #new-task-form .new-task-form__icon {
  font-size: 1rem;
  position: absolute;
  margin-left: 15px;
  color: lightgray;
}
body #app-container .app__form-container #new-task-form #new-task__input {
  width: 100%;
  padding: 15px;
  padding-left: 40px;
  font-size: 1rem;
  color: black;
  border: 0.8px solid lightgrey;
  border-radius: 6px;
  transition: border 0.25s, box-shadow 0.25s;
}
body #app-container .app__form-container #new-task-form #new-task__input:focus {
  border: 0.8px solid #f78800;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
body #app-container .tabs-container {
  margin: 40px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #app-container .tabs-container .tabs {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
body #app-container .tabs-container .tabs .tab__item .tab__item-link {
  text-decoration: none;
  color: black;
  transition: color 0.5s, font-size 0.25s;
}
body #app-container .tabs-container .tabs .tab__item .tabs__fav-icon {
  cursor: pointer;
  transition: color 0.5s;
}
body #app-container .tabs-container .tabs .tab__item .tab__item-link:hover,
body #app-container .tabs-container .tabs .tab__item .tabs__fav-icon:hover {
  color: #ff8c00;
}
body #app-container .tabs-container #clearAll-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  background: linear-gradient(to right, #f17442, #ff8c00);
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}
body #app-container .tabs-container #clearAll-btn:hover {
  background: linear-gradient(to right, #e2612e, #f78800);
  transform: scale(1.02);
}
body #app-container .task-list-container {
  display: flex;
  margin-top: 10px;
}
body #app-container .task-list-container .task-list {
  width: 100%;
}
body #app-container .task-list-container .task-list .task-list__item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__left .done-task-form {
  display: flex;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__left .done-task-form .checkbox {
  accent-color: #f78800;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__left .done-task-form .task-list__text-output {
  margin-left: 15px;
  cursor: pointer;
  transition: color 0.25s;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__left .done-task-form .task-list__text-output:hover {
  color: #f78800;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__right .dot-menu {
  transition: color 0.25s;
  cursor: pointer;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__right .dot-menu:hover {
  color: #f78800;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__right .task-menu {
  width: 40px;
  height: 10px;
  margin: 2px;
  opacity: 0;
  transition: opacity 1s;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__right .task-menu .edit-icon:hover,
body #app-container .task-list-container .task-list .task-list__item .task-list__right .task-menu .delete-icon:hover {
  color: #f78800;
  cursor: pointer;
  transition: opacity 0.5s, color 0.5s;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__right .close-icon {
  transition: 0.5s;
  color: rgb(255, 128, 0);
  cursor: pointer;
}
body #app-container .task-list-container .task-list .task-list__item .task-list__right .close-icon:hover {
  transition: opacity 0.25s, color 0.5s;
  color: red;
}
body .crossOut {
  text-decoration: line-through;
}/*# sourceMappingURL=styles.css.map */